In [2]:
import numpy as np
import pandas as pd
from math import radians, cos, sin, asin, sqrt

In [3]:
stations=pd.read_csv('../../raw_data/stations_df_st.csv')

In [4]:
stations_f=stations[['s_id','Station_name','s_lat','s_lon']]
stations_f

       s_id                          Station_name      s_lat     s_lon
0      1023            River Street , Clerkenwell  51.529163 -0.109970
1      1018        Phillimore Gardens, Kensington  51.499606 -0.197574
2      1012  Christopher Street, Liverpool Street  51.521283 -0.084605
3      1013       St. Chad's Street, King's Cross  51.530059 -0.120973
4      3420         Sedding Street, Sloane Square  51.493130 -0.156876
..      ...                                   ...        ...       ...
791  300062  South Bermondsey Station, Bermondsey  51.488067 -0.057774
792  300061          Crimscott Street, Bermondsey  51.495598 -0.078893
793  300060              Brandon Street, Walworth  51.489102 -0.091548
794  300059                  The Blue, Bermondsey  51.492221 -0.062513
795  200081         Coomer Place, West Kensington  51.483570 -0.202038

[796 rows x 4 columns]

In [5]:
def dist(lat1, long1, lat2, long2):
    """
Replicating the same formula as mentioned in Wiki
    """
    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    dlon = long2 - long1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [6]:
def find_nearest(lat, long):
    distances = stations_f.apply(
        lambda row: dist(lat, long, row['s_lat'], row['s_lon']), 
        axis=1)
    return stations_f.loc[distances.idxmin(), 's_id']

In [7]:
stations_f.loc[0]['Station_name']

'River Street , Clerkenwell'

In [8]:
# type(stations_f)
# stations_f['Closest_id']=None
# stations_f

In [9]:
closest_ids=[]
closest_names=[]
for index, row in stations_f.iterrows():
    lat=row['s_lat']
    long=row['s_lon']
    
    df=stations_f.drop(index,axis=0)
    distances=df.apply(lambda row: dist(lat, long, row['s_lat'], row['s_lon']), axis=1)
    closest_id=df.loc[distances.idxmin(), 's_id']
    closest_name=df.loc[distances.idxmin(), 'Station_name']
    closest_ids.append(closest_id)
    closest_names.append(closest_name)

In [19]:
# # First Closest
# for index, row in stations_f.iterrows():
#     lat=row['s_lat']
#     long=row['s_lon']
    
#     df=stations_f.drop(index,axis=0)
#     distances=df.apply(lambda row: dist(lat, long, row['s_lat'], row['s_lon']), axis=1)
#     closest_id=df.loc[distances.idxmin(), 's_id']
#     closest_name=df.loc[distances.idxmin(), 'Station_name']
#     closest_ids.append(closest_id)
#     closest_names.append(closest_name)
# stations_f['Closest_id']=closest_ids
# stations_f['Closest_name']=closest_names

In [64]:
## Second Closest
# test=0
# for index, row in stations_f.iterrows():
#     for index_2, row_2 in stations_f.iterrows(): 
#         if row_2['s_id']==stations_f.loc[index]['Closest_id']:
#             test+=1
# test

KeyboardInterrupt:

In [61]:
stations_f.loc[0]

s_id                                    1023
Station_name      River Street , Clerkenwell
s_lat                              51.529163
s_lon                               -0.10997
Closest_id                              1057
Closest_name    Hardwick Street, Clerkenwell
Name: 0, dtype: object

In [12]:
stations_f_closest=stations_f

In [13]:
path_closest='../../raw_data/stations_f_closest.csv'

In [14]:
stations_f_closest.to_csv(path_closest)

### Trying to Index Match

In [15]:
origin='Shoreditch Park, Hoxton'
destination='Finsbury Circus, Liverpool Street'

In [16]:
for row in stations_f_closest.iterrows():
    if row[1]['Station_name']==origin:
        print(row[1]['Closest_name'])

Pitfield Street Central, Hoxton

### Get the 3 Closest Stations

In [17]:
stations_f_closest

,s_id,Station_name,s_lat,s_lon,Closest_id,Closest_name
0,1023,"River Street , Clerkenwell",51.529163,-0.109970,1057,"Hardwick Street, Clerkenwell"
1,1018,"Phillimore Gardens, Kensington",51.499606,-0.197574,3463,"Argyll Road, Kensington"
2,1012,"Christopher Street, Liverpool Street",51.521283,-0.084605,1056,"Finsbury Square , Moorgate"
3,1013,"St. Chad's Street, King's Cross",51.530059,-0.120973,300212,"Birkenhead Street, King's Cross"
4,3420,"Sedding Street, Sloane Square",51.493130,-0.156876,3469,"Cadogan Place, Knightsbridge"
...,...,...,...,...,...,...
791,300062,"South Bermondsey Station, Bermondsey",51.488067,-0.057774,300059,"The Blue, Bermondsey"
792,300061,"Crimscott Street, Bermondsey",51.495598,-0.078893,2637,"Bermondsey Street, Bermondsey"
793,300060,"Brandon Street, Walworth",51.489102,-0.091548,3481,"Rodney Road , Walworth"
794,300059,"The Blue, Bermondsey",51.492221,-0.062513,200216,"Clements Road, Bermondsey"
795,200081,"Coomer Place, West Kensington",51.483570,-0.202038,300008,"Normand Park, West Kensington"

In [18]:
stations_f_closest

,s_id,Station_name,s_lat,s_lon,Closest_id,Closest_name
0,1023,"River Street , Clerkenwell",51.529163,-0.109970,1057,"Hardwick Street, Clerkenwell"
1,1018,"Phillimore Gardens, Kensington",51.499606,-0.197574,3463,"Argyll Road, Kensington"
2,1012,"Christopher Street, Liverpool Street",51.521283,-0.084605,1056,"Finsbury Square , Moorgate"
3,1013,"St. Chad's Street, King's Cross",51.530059,-0.120973,300212,"Birkenhead Street, King's Cross"
4,3420,"Sedding Street, Sloane Square",51.493130,-0.156876,3469,"Cadogan Place, Knightsbridge"
...,...,...,...,...,...,...
791,300062,"South Bermondsey Station, Bermondsey",51.488067,-0.057774,300059,"The Blue, Bermondsey"
792,300061,"Crimscott Street, Bermondsey",51.495598,-0.078893,2637,"Bermondsey Street, Bermondsey"
793,300060,"Brandon Street, Walworth",51.489102,-0.091548,3481,"Rodney Road , Walworth"
794,300059,"The Blue, Bermondsey",51.492221,-0.062513,200216,"Clements Road, Bermondsey"
795,200081,"Coomer Place, West Kensington",51.483570,-0.202038,300008,"Normand Park, West Kensington"